/*********************************
 *  menu_dropdown
 *  Created by keleko34
 *  A simple dropdown menu that holds menu items
 ********************************/

.{{local}} .menu_dropdown {
  float:left;
  margin-top: 5px;
  -webkit-app-region: no-drag;
  z-index: 1;
}

.{{local}} .menu_dropdown__title:hover {
  background: #333;
}

.{{local}} .menu_dropdown__title--active {
  background: #333;
}

.{{local}} .menu_dropdown__title{
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  cursor:pointer;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
}

.{{local}} .menu_dropdown__list {
  background:#D7D8D9;
  position: absolute;
  display:{{active | isDisplayed}};
  z-index: 1;
}
