.Window_Frame {
  background:#444749;
  height:100%;
  width:100%;
  position: relative;
  border-radius: 3px;
  color:#D7D8D9;
  font-family: 'Open Sans', sans-serif;
}

.Window_Frame__Content {
  background: #1D1F21;
  position: absolute;
  margin:5px;
  border-radius:2px;
  width: calc(100% - 10px);
  box-shadow: inset #000 0px 0px 18px -6px;
}

.Window_Frame__Content--live {
  margin-top:5px;
  height: calc(100% - 15px);
}

.Window_Frame__Content--debug, .Window_Frame__Content--editor{
  margin-top:30px;
  height: calc(100% - 35px);
}
